.navbar{
    margin: auto;
    background-color: whitesmoke;
}


.row{
    margin-top: 100px;
}
.card-text{
    overflow:hidden;
}
.card{
    height: 500px;
    min-height: 600px;
    overflow:scroll auto;
    width:max-content;
}

.card-img-top{
    max-height: 250px;
    min-height: 270px;
}
.text-center{
    padding-top: 10px;
}