#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #363839;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.read-the-docs {
  color: #e0d5d5;
}
h4{
  text-align: center;
  color: #000000
}
.card {
  border: 1px solid #93cae5;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  width: 300px;
}

.card-header {
  background-color: #292020;
  padding: 8px 12px;
  font-weight: bold;
  border-bottom: 1px solid #e8caca;
  text-align: center;
}

.card-body {
  padding: 20px;
}

.card-container {
  width: 30%;
  height: 30%;
  max-width: 300px;
  margin: auto;
  display: inline-table;
}
.card {
  background: #46d3da;
  display:grid;
  grid-gap: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(129, 78, 78, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 100px;
  
}
.card-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000000;
}

.card-description {
  font-size: 1em;
  color: #000000;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:3;
  display: -webkit-box;
  overflow: hidden;
}

.card-text{
  font-weight: normal;
  line-height: 1.5;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  color:#080c0c ;
}
.btn-custome{
  background-color: var(--btn-bg);
  border: 20px solid var(--btn-border-color);
  color :#1d1188
}
.btn-custome:hover{
  background-color: #20c056;
  color:#131212;
  border: 20px solid var(--btn-border-color);
}