*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table th, td{
    border: 1px solid black;
  
    text-align: center;
    height: 50px;
    width: 50px;
}
table{margin: 30px 150px 10px 0;
    width: 100%;
    
}
thead{
    font-size: 20px;
}
#navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: pink;
    padding:18px 60px;
    align-items: center;
    display:flex;
    justify-content: space-between;
    z-index: 3;
}

/* td{
    margin: 100px;
} */

.container-fluid{
    background-color: #f8f9fa; 
     padding: 40px;
     margin-bottom: 0%;
    align-items: center;
    text-align: center;
 
  }

  .cont.txt {
    background-color: #ff4a57; 
    border-radius: 0;
  }
  .text-center{
    margin-top:20px ;
  }
  